body{
    background-image: url(bg1.jpeg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    color: aliceblue;
    font-size: 200%;
}
h1{
    height: 200px;
    text-align: center;
    line-height: 200px;
    background-color: teal;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
}
